body {
     margin: 0;
     font-family: Arial, Helvetica, sans-serif;
     background-color: #F6F9FD;
     color: #5D5B5C;
}
main {
     margin: 8vw 6vw;
}
header {
     margin: 0;
     padding: 1em;
     background-color: #B7E1DF;

}
header ul {
     list-style: none;
     display: flex;
}
header a {
     font-size: 1.2em;
     margin-right: 1.5rem;
     text-decoration: none;
     color: #F08058;
}
header a:hover {
     color: #C16766;
     text-decoration: underline;
}
h1 {
     width: fit-content;
     /* display: flex; */
     /* flex-direction: column; */
     /* float: left; */
}
p {
     margin: 0;
}
img {

     float: right;
}