body {
     margin: 0;
     font-family: Arial, Helvetica, sans-serif;
     background-color: #F6F9FD;
     color: #5D5B5C;
}
main {
     margin: 8vw 6vw;
}
header {
     margin: 0;
     padding: 1em;
     background-color: #B7E1DF;

}
header ul {
     list-style: none;
     display: flex;
}
header a {
     font-size: 1.2em;
     margin-right: 1.5rem;
     text-decoration: none;
     color: #F08058;
}
header a:hover {
     color: #C16766;
     text-decoration: underline;
}
h1 {
     width: fit-content;
     /* display: flex; */
     /* flex-direction: column; */
     /* float: left; */
}
h3 {
     margin-top: 3.7vw;
     margin-bottom: .7vw;
}
p {
     margin: 0;
}
img {

     float: right;
     
}

table {
     margin-top: 2vw;
     margin-bottom: 5vw;
}
table  { 
     border-style: ridge;
     border-width: 7px;
     border-color: coral; 
}
th {
     padding: 0vw 2vw .7vw;
}
td {
     text-align: center;
}

label{
     display: block;
     font-size: 1.3em;
     margin-top: 4vw;
     margin-bottom: .8vw;
}
textarea {
     border-style: ridge;
     border-width: 7px;
     border-color: coral; 
}
input {
     display: block;
     /* margin-left: 1vw; */
     margin-top: 1.4vw;
     background-color: #F08058;
     border-color: #C16766;
     border: #C16766 solid 2.5px;
}
input:hover {
     background-color: #C16766;
     border-color: #F08058;
}